---
import "../styles/global.css";

const pageTitle = "About Me";

const likes = ["retirement", "games", "making kids play games"];

const likeColor = "navy";
const fontWeight = "bold";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style define:vars={{ likeColor, fontWeight }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .like {
        color: var(--likeColor);
        font-weight: var(--fontWeight);
      }
    </style>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/events/">Events</a>
    <h1>{pageTitle}</h1>
    <p>
      <ul>
        {likes.map((like) => <li class="like">I like {like}</li>)}
      </ul>
    </p>
  </body>
</html>
