---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const likes = ["retirement", "games", "making kids play games"];
---

<BaseLayout pageTitle={pageTitle}>
  <style>
    h1 {
      color: purple;
      font-size: 4rem;
    }
  </style>

  <h1>{pageTitle}</h1>
  <p>
    <ul>
      {likes.map((like) => <li>I like {like}</li>)}
    </ul>
  </p>
</BaseLayout>
