<a href="/">Home</a>
<a href="/about/">About</a>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sue's Lockbox Site</title>
	</head>
	<body>
		<h1>About Me</h1>
		<p>
		<ul>
		<li>I am retired</li>
		<li>I like games</li>
		<li>I like making kids play games</li>
		</ul>	
		</p>
	</body>
</html>
