---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import EventPost from "../components/EventPost.astro";
const allEvents = await Astro.glob("../pages/events/*.md");
const pageTitle = "Sue's Events";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Events</h1>
  <ul>
    {
      allEvents.map((event) => (
        <EventPost url={event.url} title={event.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
