---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const pageTitle = "Sue's Events";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>Events</h1>
    <ul>
      <li>
        <a href="/events/event-1/"
          >Cooperstown Farmer's Market Stand 9/1.. bring your checkbook!</a
        >
      </li>
    </ul>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
