---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Sue's Events";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Events</h1>
  <ul>
    <li>
      <a href="/events/event-1/"
        >Cooperstown Farmer's Market Stand 9/1.. bring your checkbook!</a
      >
    </li>
  </ul>
</BaseLayout>
