---
import Social from "./Social.astro";
const phoneNumber = "518-956-0771";
const email = "victor.quartucio@protonmail.com";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
  }
</style>

<footer>
  <p>
    Phone Number: {phoneNumber} Email: {email}
    <Social platform="Instagram" username="SueW" />
  </p>
</footer>
